<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion_commerciale.Properties.Settings.GestionCommercialeConnectionString"
            connectionString="Data Source=desktop-gdl0drp\sqlexpress;Initial Catalog=GestionCommerciale;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>